<!--
//Name: Vishwa Patel, Hifza Hameed
//File: index.ejs
//Date: 13th april, 2023
//Student id:100851337, 100833037
-->
<%- include('partials/index') %>
<%- include('./partials/header', {app: app_const, session, title: app_const.site_name}); %>
<style>
	body {
		background-color: #FFF !important;
	}
</style>
<!-- carousel section -->
<!-- Header Carousel -->
<section style="position: relative;">

	<!-- Carousel -->
	<div id="demo" class="carousel slide" data-bs-ride="carousel">

		<!-- Indicators/dots -->
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
		</div>

		<!-- The slideshow/carousel -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="carousel-item-wrapper">
					<div>
						<h1>Welcome to my Portfolio</h1>
						<p>Professional website development</p>
						<a href="/about-me">About Me</a>
					</div>
				</div>
				<img class="d-block w-100" src="/img/website-development.jpg" alt="Graphics Design">
			</div>
			<div class="carousel-item">
				<div class="carousel-item-wrapper">
					<div>
						<h1>Your sure plug in pure graphics design</h1>
						<a href="/contact-me">Contact Me </a>
					</div>
				</div>
				<img class="d-block w-100" src="/img/pure-grahpics.jpeg" alt="Second slide">
			</div>
			<div class="carousel-item">
				<div class="carousel-item-wrapper">
					<div>
						<h1>Database, ERP System Design Expert</h1>
						<p></p>
						<a href="/services">Our Services</a>
					</div>
				</div>
				<img class="d-block w-100" src="/img/database-system.png" alt="Database  Management system">
			</div>
		</div>

		<!-- Left and right controls/icons -->
		<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
			<span class="carousel-control-next-icon"></span>
		</button>
	</div>


</section>

<!-- end carousel section -->

<!-- Page content-->
<main>

	<div class="container page-section ">


		<div class="row">

			<div class="col-12 col-md-6 text-left d-flex flex-column">
				<div class="card mission my-3 mx-2 flex-fill">
					<div class="card-header">
						<h3>Mission Statement</h3>
					</div>
					<div class="card-body">
						<div class="text-center icon"><span class="fa fa-5x fa-bullseye"></span></div>
						<p> Our mission as a website and database developer and graphics design team is to provide comprehensive and cutting-edge solutions to our clients. We are dedicated to creating visually stunning websites and databases that are intuitive and easy to use. Our team combines technical expertise with artistic creativity to deliver designs that are not only aesthetically pleasing but also highly functional. We strive to exceed our clients' expectations by delivering high-quality solutions that are tailored to their specific needs.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 text-left d-flex flex-column">
				<div class="card mission my-3 mx-2 flex-fill">
					<div class="card-header">
						<h3>Vission</h3>
					</div>
					<div class="card-body">
						<div class="text-center"><span class="fa fa-5x fa-eye"></span></div>
						<p> Our vision as a website and database developer and graphics design team is to be recognized as industry leaders in providing innovative and impactful solutions to our clients. We aim to continually push the boundaries of what is possible by leveraging cutting-edge technologies and design principles. Our goal is to create websites and databases that not only meet but exceed our clients' expectations, while also delivering exceptional visual design that is both appealing and effective. We aspire to build long-lasting relationships with our clients by providing outstanding customer service and delivering solutions that drive their success.</p>
					</div>
				</div>
			</div>


		</div>


	</div>


</main>

<%- include('./partials/footer', {app: app_const}); %>
