#top_nav {
    background-color: #c6eec5;
    padding-left: 10px;
}
.top-nav .nav-item {
    padding: 5px;
}
.top-nav .nav-item a {
    color: #000 !important;
}

.form_wrapper{
    text-align: left;
    width: 100%;
    display: inline-block;
    max-width: 700px;
    box-shadow: 2px 2px 4px 5px #c6eec5;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFF;
    margin-top: 20px;
}
.form_wrapper .form-group{
    margin-bottom: 20px;
}

.form_wrapper input, .form_wrapper select{
    border: 1px solid #c6eec5;
    background-color: #f7f4f4;
}

.form_wrapper label{
    font-size: 18px;
    color: #000 !important;
}

.formError{
    color: red;
    font-size: 14px;;
}

.form_wrapper button{
    background-color: #c6eec5;
    color: #000;
    padding: 8px 40px;
}

.disclaimer h3{
    font-size: 18px;
    line-height: 18px;
    color: #777;
}

.disclaimer ul{
    font-size: 12px;
    color:#999;
    margin-top: 40px;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
}


