
<h1><% title %>></h1>


<div id="messageArea" class="alert alert-danger">
Error Message
</div>

<div class="row justify-content-lg-center g-3">
<form mwthod="post" class="col-lg-6 col-md-6 col-sm-6">
    <div class="input-group mb-3">
        <span class="input-group-text">Full Name</span>
        <input id="fullName" name="fullName" type="text" class="form-control"
               value="<%= contact.FullName%>"
               aria-describedby="Full Name input" aria-label="Full Name input" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Contact Number</span>
        <input id="contactNumber" name="contactNumber" type="tel" class="form-control"
               value="<%= contact.ContactNumber%>"
               aria-describedby="Contact Number input" aria-label="Contact Number input" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Email address</span>
        <input id="emailAddress" name="emailAddress" type="email" class="form-control"
               value="<%= contact.EmailAddress%>"
             aria-describedby="Email Address input" aria-label="Email Address input" required>
    </div>
    <% if(title === "Edit") { %>
    <button id="editButton" type="submit" class="btn btn-primary">
        <i class="fa-solid fa-pen-to-square"></i>Edit</button>
    <% } else { %>
        <button id="editButton" type="submit" class="btn btn-primary">
            <i class="fas fa-plus-circle fa-lg"></i>Add</button>
    <% } %>
    <a href="/contact-list" id="cancelButton" type="button" class="btn btn-warning">
        <i class="fas fa-undo fa-lg"></i> Cancel</a>
</form>
</div>
