<h1>Welcome to my Website!</h1>
<button id="AboutUsBtn" class="btn btn-primary">About</button>
<button id="ProductsBtn" class="btn btn-primary">Products</button>
<button id="ServicesBtn" class="btn btn-primary">Services</button>
<button id="ContactsBtn" class="btn btn-primary">Contacts</button>